 <% @commits.each do |commit|%>
 <% if commit.type == "PushEvent"%>
 <h3>Repo: <%= commit.repo%></h3>
<p> Repo URL: <%= commit.repo_url%> </p>
 <p> Commit Message: <%= commit.message.first[:message]%></p>
 <p>Commit Date: <%= commit.date%></p>
 <%else%>
 <% end %>
 <% end%>
 